@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(34, 34, 34);
}
form{
    width: 30%;
    margin: 10% auto;
    border: 1px solid silver;
    border-radius: 21px;
}
input[type=text]{
    width: 100%;
    padding: 15px;
    border: 1px solid silver;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(151, 151, 151);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30pt;
    color: rgb(34, 34, 34);
    text-align: right;
}
button{
    width: 25%;
    height: 100px;
    background-color: darkcyan;
    font-size: 30pt;
    color: white;
    cursor: pointer;
}
form #btn0{
    border-bottom-left-radius: 20px;
}
form #btnigual{
    width: 50%;
    border-bottom-right-radius: 20px;
}
button:hover{
    background-color: aqua;
}
button:active{
    background-color: blueviolet;
}
